<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<launch>
    <param name="robot_description" textfile="$(find my_robot)/urdf/my_robot.urdf"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
    <arg name="rviz" default="$(find my_robot)/launch/my_robot.rviz"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz)"/>
</launch>
